@import "tailwindcss";

:root {
  --primary: #26678f;
  --stone: #d3eeff;
  --stone-shade: #bad6e7;
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-primary: var(--primary);
  --color-stone: var(--stone);
  --color-stone-shade: var(--stone-shade);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  max-width: none;
  padding: 40px;
}

.container-center-sm {
  margin: auto;
  width: 400px;
  background-color: var(--stone);
  padding: 40px;
  border: 1px solid var(--foreground);
  @apply rounded-lg;
}

a {
  color: var(--primary);
}

a:hover {
  text-decoration: underline;
  text-underline-offset: 2px;
}

.input-label {
  display: block;
  margin-bottom: 2px;
}

.input {
  display: block;
  width: 100%;
  padding: 6px 16px;
  border: 1px solid var(--foreground);
  outline: none;
  @apply rounded-sm;
}

.input:focus {
  outline: 2px solid var(--primary);
  border-color: transparent;
}

.input-title {
  border: none;
  padding-bottom: 1px;
  border-bottom: 1px solid var(--foreground);
  border-radius: 0px;
}

.input-title:focus {
  padding-bottom: 0px;
  border-bottom: 2px solid var(--primary);
  outline: none;
}

::placeholder {
  color: var(--stone-shade);
}

/* BUTTONS */
.btn {
  text-decoration: none !important;
  cursor: pointer;
  @apply rounded-md;
}

.btn-fill-lg {
  background-color: var(--primary);
  padding: 8px 30px;
  color: var(--background);
  border: 1px solid transparent;
  transition: 0.2s;
}

.btn-fill-lg:hover {
  background-color: var(--background);
  color: var(--primary);
  border-color: var(--primary);
}
