@import "tailwindcss";

:root {
  --primary: #26678f;
  --primary-tone: #237cb4;
  --secondary: #02a892;
  --stone: #c7e5f8;
  --stone-tint: #e6f4fd;
  --stone-tone: #a7cee4;
  --stone-shade: #93bdd6;
  --background: #ffffff;
  --foreground: #26678f;

  /* SPACING */
  --y: 20px;
  --x: 40px;
}

@theme inline {
  --color-primary: var(--primary);
  --color-primary-tone: var(--primary-tone);
  --color-secondary: var(--secondary);
  --color-stone: var(--stone);
  --color-stone-tint: var(--stone-tint);
  --color-stone-tone: var(--stone-tone);
  --color-stone-shade: var(--stone-shade);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --spacing-y: var(--y);
  --spacing-x: var(--x);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  border-color: var(--primary);
}

.container {
  max-width: none;
  padding: var(--y) var(--x);
}

.container-center-sm {
  margin: auto;
  width: 400px;
  background-color: var(--stone);
  padding: 40px;
  border: 1px solid var(--foreground);
  @apply rounded-lg;
}

/* HEADINGS */
h2 {
  line-height: 1;
  margin-bottom: 20px;
  @apply text-4xl;
}

h3 {
  line-height: 1;
  margin-bottom: 16px;
  @apply text-3xl;
}

h4 {
  line-height: 1;
  margin-bottom: 4px;
  @apply text-2xl;
}

a, link {
  color: var(--primary);
  font-weight: 600;
  cursor: pointer;
}

a:hover, link:hover {
  text-decoration: underline;
  text-underline-offset: 2px;
}

ol, ul {
  margin-left: 20px;
}

ol {
  list-style-type: decimal;
  ol {
    list-style-type: upper-roman;
    ol {
      list-style-type: lower-roman;
    }
  }
}

ul {
  list-style-type: disc;
  ul {
    list-style-type: circle;
    ul {
      list-style-type: square;
    }
  }
}

.input-label {
  display: block;
  margin-bottom: 2px;
}

.input {
  display: block;
  width: 100%;
  padding: 6px 16px;
  border: 1px solid var(--foreground);
  outline: none;
  @apply rounded-sm;
}

.input:focus {
  outline: 2px solid var(--primary);
  border-color: transparent;
}

.input-title {
  border: none;
  padding-bottom: 1px;
  border-bottom: 1px solid var(--foreground);
  border-radius: 0px;
}

.input-title:focus {
  padding-bottom: 0px;
  border-bottom: 2px solid var(--primary);
  outline: none;
}

::placeholder {
  color: var(--stone-shade);
}

/* BUTTONS */
.btn {
  text-decoration: none !important;
  cursor: pointer;
  transition: 0.225s;
  @apply rounded-md;
}

.btn-fill-lg {
  background-color: var(--primary);
  padding: 8px 40px;
  color: var(--background);
  border: 1px solid transparent;
}

.btn-fill-lg:hover {
  background-color: var(--background);
  color: var(--primary);
  border-color: var(--primary);
}

.btn-fill-sm {
  padding: 1px 14px;
  border: 1px solid transparent;
  @apply rounded-sm;
}

.btn-stroke-sm {
  background-color: transparent;
  padding: 1px 14px;
  @apply rounded-sm;
}

/* TIPTAP */
.tiptap p.is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}
